@model WebManagementPortal.EF.Advertisement

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Advertisement</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            CourseCatalog
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lesson.Unit.Semester.CourseCatalog.SideName)
        </dd>

        <dt>
            Semester
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lesson.Unit.Semester.Title)
        </dd>

        <dt>
            Unit
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lesson.Unit.Title)
        </dd>

        <dt>
            Lesson
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lesson.Title)
        </dd>

    </dl>

    <hr />

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>

        <dt>
            Created date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecLog.CreatedDate)
        </dd>
        <dt>
            <br>
            @Html.ActionLink("Back", "Details", "Lessons", new { @id = Model.LessonId }, new { @class = "btn btn-default" })
        </dt>
        <dd>
            <br>
            <input type="submit" value="Delete" class="btn btn-danger" />
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    }
</div>
