@model WebManagementPortal.EF.Lesson

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Lesson</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            CourseCatalog
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unit.Semester.CourseCatalog.SideName)
        </dd>

        <dt>
            Semester
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unit.Semester.Title)
        </dd>

        <dt>
            Unit
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unit.Title)
        </dd>

    </dl>

    <hr />

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShortDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoreDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoreDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShortTeacherLessonPlan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortTeacherLessonPlan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoreTeacherLessonPlan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoreTeacherLessonPlan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrimaryContentURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrimaryContentURL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrimaryContentDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrimaryContentDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsPreviewable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsPreviewable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecLog.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecLog.CreatedDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back", "Details", "CourseCatalogs", new { @id = Model.Unit.Semester.CourseCatalogId }, new { @class = "btn btn-default" })
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-warning" })
    @Html.ActionLink("Delete", "Delete", new { id = Model.Id }, new { @class = "btn btn-danger" })
    <a href="@AppConfigOptions.MindSageWebUrl/my#!/lessonpreview/@Model.Id" target="_blank" class="btn btn-success btn-lg pull-right">Preview</a>
</p>

<hr />

<h2>Extra contents</h2>
@{ var extraContentRunner = 1; }
<p>
    @Html.ActionLink("Create new extra content", "Create", "ExtraContents", new { @id = Model.Id }, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            No
        </th>
        <th>
            URL
        </th>
        <th>
            Description
        </th>
        <th>
            Type
        </th>
        <th>
            Created date
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.ExtraContents.Where(it => !it.RecLog.DeletedDate.HasValue))
    {
        <tr>
            <td>
                @extraContentRunner
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContentURL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @item.IconURL
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecLog.CreatedDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "ExtraContents", new { id = item.Id }, new { @class = "btn btn-warning" })
                @Html.ActionLink("Delete", "Delete", "ExtraContents", new { id = item.Id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
        extraContentRunner++;
    }

</table>

<h2>Advertisements</h2>
@{ var adsRunner = 1; }
<p>
    @Html.ActionLink("Create new advertisement", "Create", "Advertisements", new { @id = Model.Id }, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr class="row">
        <th class="col-md-1">
            No
        </th>
        <th class="col-md-7">
            Image Url
        </th>
        <th class="col-md-2">
            Created date
        </th>

        <th class="col-md-2 col-md-offset-5"></th>
    </tr>

    @foreach (var item in Model.Advertisements.Where(it => !it.RecLog.DeletedDate.HasValue))
    {
        <tr class="row">
            <td class="col-md-1">
                @adsRunner
            </td>
            <td class="col-md-7">
                @Html.DisplayFor(modelItem => item.ImageUrl)
            </td>
            <td class="col-md-2">
                @Html.DisplayFor(modelItem => item.RecLog.CreatedDate)
            </td>
            <td class="col-md-2">
                @Html.ActionLink("Edit", "Edit", "Advertisements", new { id = item.Id }, new { @class = "btn btn-warning" })
                @Html.ActionLink("Delete", "Delete", "Advertisements", new { id = item.Id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
        adsRunner++;
    }

</table>

<h2>Topic of the days</h2>
@{ var TOTDRunner = 1; }
<p>
    @Html.ActionLink("Create new topic of the day", "Create", "TopicOfTheDays", new { @id = Model.Id }, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr class="row">
        <th class="col-md-1">
            No
        </th>
        <th class="col-md-1">
            Send date
        </th>
        <th class="col-md-6">
            Message
        </th>
        <th class="col-md-2">
            Created date
        </th>
        <th class="col-md-2"></th>
    </tr>

    @foreach (var item in Model.TopicOfTheDays.Where(it => !it.RecLog.DeletedDate.HasValue).OrderBy(it => it.SendOnDay).ThenBy(it => it.Message)) 
    {
        <tr class="row">
            <td class="col-md-1">
                @TOTDRunner
            </td>
            <td class="col-md-1">
                @Html.DisplayFor(modelItem => item.SendOnDay)
            </td>
            <td class="col-md-6">
                @Html.DisplayFor(modelItem => item.Message)
            </td>
            <td class="col-md-2">
                @Html.DisplayFor(modelItem => item.RecLog.CreatedDate)
            </td>
            <td class="col-md-2">
                @Html.ActionLink("Edit", "Edit", "TopicOfTheDays", new { id = item.Id }, new { @class = "btn btn-warning" })
                @Html.ActionLink("Delete", "Delete", "TopicOfTheDays", new { id = item.Id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
        TOTDRunner++;
    }

</table>