@model WebManagementPortal.EF.Lesson

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Lesson</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            CourseCatalog
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unit.Semester.CourseCatalog.SideName)
        </dd>

        <dt>
            Semester
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unit.Semester.Title)
        </dd>

        <dt>
            Unit
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unit.Title)
        </dd>

    </dl>

    <hr />

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsPreviewable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsPreviewable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecLog.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecLog.CreatedDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back", "Details", "CourseCatalogs", new { @id = Model.Unit.Semester.CourseCatalogId }, new { @class = "btn btn-default" })
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-warning" })
    @Html.ActionLink("Delete", "Delete", new { id = Model.Id }, new { @class = "btn btn-danger" })
    <a href="@AppConfigOptions.MindSageWebUrl/my#!/app/lessonpreview/@Model.Id" target="_blank" class="btn btn-success btn-lg pull-right">Preview</a>
</p>

<hr />

<h2>Teacher items</h2>
@{ var teacherLessonItemRunner = 1; }
<p>
    @Html.ActionLink("Create new teacher item", "Create", "TeacherLessonItems", new { @id = Model.Id }, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr class="row">
        <th class="col-md-1">
            No
        </th>
        <th class="col-md-2">
            IsPreviewable
        </th>
        <th class="col-md-5">
            Name
        </th>
        <th class="col-md-2">
            Created date
        </th>

        <th class="col-md-2"></th>
    </tr>

    @foreach (var item in Model.TeacherLessonItems.Where(it => !it.RecLog.DeletedDate.HasValue))
    {
        <tr class="row">
            <td class="col-md-1">
                @teacherLessonItemRunner
            </td>
            <td class="col-md-2">
                @Html.DisplayFor(modelItem => item.IsPreviewable)
            </td>
            <td class="col-md-5">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="col-md-2">
                @Html.DisplayFor(modelItem => item.RecLog.CreatedDate)
            </td>
            <td class="col-md-2">
                @Html.ActionLink("Edit", "Edit", "TeacherLessonItems", new { id = item.Id }, new { @class = "btn btn-warning" })
                @Html.ActionLink("Delete", "Delete", "TeacherLessonItems", new { id = item.Id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
        teacherLessonItemRunner++;
    }

</table>

<h2>Student items</h2>
@{ var studentLessonItemRunner = 1; }
<p>
    @Html.ActionLink("Create new student item", "Create", "StudentLessonItems", new { @id = Model.Id }, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr class="row">
        <th class="col-md-1">
            No
        </th>
        <th class="col-md-2">
            IsPreviewable
        </th>
        <th class="col-md-5">
            Name
        </th>
        <th class="col-md-2">
            Created date
        </th>

        <th class="col-md-2"></th>
    </tr>

    @foreach (var item in Model.StudentLessonItems.Where(it => !it.RecLog.DeletedDate.HasValue))
    {
        <tr class="row">
            <td class="col-md-1">
                @studentLessonItemRunner
            </td>
            <td class="col-md-2">
                @Html.DisplayFor(modelItem => item.IsPreviewable)
            </td>
            <td class="col-md-5">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="col-md-2">
                @Html.DisplayFor(modelItem => item.RecLog.CreatedDate)
            </td>
            <td class="col-md-2">
                @Html.ActionLink("Edit", "Edit", "StudentLessonItems", new { id = item.Id }, new { @class = "btn btn-warning" })
                @Html.ActionLink("Delete", "Delete", "StudentLessonItems", new { id = item.Id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
        studentLessonItemRunner++;
    }

</table>

<hr/>

<h2>Pre-assessment items</h2>
@{ var preAssessmentItemRunner = 1; }
<p>
    @Html.ActionLink("Create new pre-assessment", "Create", "PreAssessmentItems", new { @id = Model.Id }, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr class="row">
        <th class="col-md-1">
            No
        </th>
        <th class="col-md-1">
            IsPreviewable
        </th>
        <th class="col-md-3">
            Name
        </th>
        <th class="col-md-2">
            Questions
        </th>
        <th class="col-md-2">
            Created date
        </th>

        <th class="col-md-3"></th>
    </tr>

    @foreach (var item in Model.PreAssessments.Where(it => !it.RecLog.DeletedDate.HasValue))
    {
        <tr class="row">
            <td class="col-md-1">
                @preAssessmentItemRunner
            </td>
            <td class="col-md-1">
                @Html.DisplayFor(modelItem => item.IsPreviewable)
            </td>
            <td class="col-md-3">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="col-md-2">
                @item.Assessments.Count(it => !it.RecLog.DeletedDate.HasValue)
            </td>
            <td class="col-md-2">
                @Html.DisplayFor(modelItem => item.RecLog.CreatedDate)
            </td>
            <td class="col-md-3">
                @Html.ActionLink("View", "Details", "PreAssessmentItems", new { id = item.Id }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Edit", "Edit", "PreAssessmentItems", new { id = item.Id }, new { @class = "btn btn-warning" })
                @Html.ActionLink("Delete", "Delete", "PreAssessmentItems", new { id = item.Id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
        preAssessmentItemRunner++;
    }

</table>


<h2>Post-assessment items</h2>
@{ var postAssessmentItemRunner = 1; }
<p>
    @Html.ActionLink("Create new post-assessment", "Create", "PostAssessmentItems", new { @id = Model.Id }, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr class="row">
        <th class="col-md-1">
            No
        </th>
        <th class="col-md-1">
            IsPreviewable
        </th>
        <th class="col-md-3">
            Name
        </th>
        <th class="col-md-2">
            Questions
        </th>
        <th class="col-md-2">
            Created date
        </th>

        <th class="col-md-3"></th>
    </tr>

    @foreach (var item in Model.PostAssessments.Where(it => !it.RecLog.DeletedDate.HasValue))
    {
        <tr class="row">
            <td class="col-md-1">
                @postAssessmentItemRunner
            </td>
            <td class="col-md-1">
                @Html.DisplayFor(modelItem => item.IsPreviewable)
            </td>
            <td class="col-md-3">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="col-md-2">
                @item.Assessments.Count(it => !it.RecLog.DeletedDate.HasValue)
            </td>
            <td class="col-md-2">
                @Html.DisplayFor(modelItem => item.RecLog.CreatedDate)
            </td>
            <td class="col-md-3">
                @Html.ActionLink("View", "Details", "PostAssessmentItems", new { id = item.Id }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Edit", "Edit", "PostAssessmentItems", new { id = item.Id }, new { @class = "btn btn-warning" })
                @Html.ActionLink("Delete", "Delete", "PostAssessmentItems", new { id = item.Id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
        postAssessmentItemRunner++;
    }

</table>

<hr/>

<h2>Advertisements</h2>
@{ var adsRunner = 1; }
<p>
    @Html.ActionLink("Create new advertisement", "Create", "Advertisements", new { @id = Model.Id }, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr class="row">
        <th class="col-md-1">
            No
        </th>
        <th class="col-md-7">
            Image Url
        </th>
        <th class="col-md-2">
            Created date
        </th>

        <th class="col-md-2"></th>
    </tr>

    @foreach (var item in Model.Advertisements.Where(it => !it.RecLog.DeletedDate.HasValue))
    {
        <tr class="row">
            <td class="col-md-1">
                @adsRunner
            </td>
            <td class="col-md-7">
                @Html.DisplayFor(modelItem => item.ImageUrl)
            </td>
            <td class="col-md-2">
                @Html.DisplayFor(modelItem => item.RecLog.CreatedDate)
            </td>
            <td class="col-md-2">
                @Html.ActionLink("Edit", "Edit", "Advertisements", new { id = item.Id }, new { @class = "btn btn-warning" })
                @Html.ActionLink("Delete", "Delete", "Advertisements", new { id = item.Id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
        adsRunner++;
    }

</table>

<h2>Topic of the days</h2>
@{ var TOTDRunner = 1; }
<p>
    @Html.ActionLink("Create new topic of the day", "Create", "TopicOfTheDays", new { @id = Model.Id }, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr class="row">
        <th class="col-md-1">
            No
        </th>
        <th class="col-md-1">
            Send date
        </th>
        <th class="col-md-6">
            Message
        </th>
        <th class="col-md-2">
            Created date
        </th>
        <th class="col-md-2"></th>
    </tr>

    @foreach (var item in Model.TopicOfTheDays.Where(it => !it.RecLog.DeletedDate.HasValue).OrderBy(it => it.SendOnDay).ThenBy(it => it.Message)) 
    {
        <tr class="row">
            <td class="col-md-1">
                @TOTDRunner
            </td>
            <td class="col-md-1">
                @Html.DisplayFor(modelItem => item.SendOnDay)
            </td>
            <td class="col-md-6">
                @Html.Raw(item.Message)
            </td>
            <td class="col-md-2">
                @Html.DisplayFor(modelItem => item.RecLog.CreatedDate)
            </td>
            <td class="col-md-2">
                @Html.ActionLink("Edit", "Edit", "TopicOfTheDays", new { id = item.Id }, new { @class = "btn btn-warning" })
                @Html.ActionLink("Delete", "Delete", "TopicOfTheDays", new { id = item.Id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
        TOTDRunner++;
    }

</table>