@model WebManagementPortal.EF.TopicOfTheDay

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>TopicOfTheDay</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(it => it.LessonId)

        <dl class="dl-horizontal">

            <dt>
                CourseCatalog
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Lesson.Unit.Semester.CourseCatalog.SideName)
            </dd>

            <dt>
                Semester
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Lesson.Unit.Semester.Title)
            </dd>

            <dt>
                Unit
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Lesson.Unit.Title)
            </dd>

            <dt>
                Lesson
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Lesson.Title)
            </dd>

        </dl>

        <hr />

        <div class="form-group">
            @Html.LabelFor(model => model.SendOnDay, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SendOnDay, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SendOnDay, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Message, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
            </div>
        </div>

        <dl class="dl-horizontal">

            <dt>
                Created date
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RecLog.CreatedDate)
            </dd>
        </dl>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back", "Details", "Lessons", new { @id = Model.LessonId }, new { @class = "btn btn-default" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
