@model WebManagementPortal.EF.License

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>License</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(it => it.ContractId)

        <dl class="dl-horizontal">
            
            <dt>
                @Html.DisplayNameFor(model => model.Contract.Name)
            </dt>
            
            <dd>
                @Html.DisplayFor(model => model.Contract.Name)
            </dd>

        </dl>

        <hr />

        <div class="form-group">
            @Html.LabelFor(model => model.CourseCatalogId, "Course catalog", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CourseCatalogId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CourseCatalogId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StudentsCapacity, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StudentsCapacity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StudentsCapacity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back", "Details", "Contracts", new { @id = Model.ContractId }, null)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
