@model WebManagementPortal.EF.License

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>License</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(it => it.ContractId)

        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.Contract.SchoolName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Contract.SchoolName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Contract.City)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Contract.City)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Contract.State)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Contract.State)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Contract.ZipCode)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Contract.ZipCode)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Contract.PrimaryContractName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Contract.PrimaryContractName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Contract.PrimaryPhoneNumber)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Contract.PrimaryPhoneNumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Contract.PrimaryEmail)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Contract.PrimaryEmail)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Contract.SecondaryContractName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Contract.SecondaryContractName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Contract.SecondaryPhoneNumber)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Contract.SecondaryPhoneNumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Contract.SecondaryEmail)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Contract.SecondaryEmail)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Contract.StartDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Contract.StartDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Contract.ExpiredDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Contract.ExpiredDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Contract.TimeZone)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Contract.TimeZone)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Contract.RecLog.CreatedDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Contract.RecLog.CreatedDate)
            </dd>

        </dl>

        <hr />

        <div class="form-group">
            @Html.LabelFor(model => model.CourseCatalogId, "Course catalog", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CourseCatalogId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CourseCatalogId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StudentsCapacity, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StudentsCapacity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StudentsCapacity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2 text-right">
                @Html.ActionLink("Back", "Details", "Contracts", new { @id = Model.ContractId }, new { @class = "btn btn-default" })
            </div>
            <div class="col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
