@model MindSageWeb.Repositories.Models.GetCourseDetailRespond

<div class="grid-block vertical">
    <div class="owl-carousel owl-theme">
    </div>
    <br />
    <div class="grid-block">
        <div class="small-4 grid-block align-center">
            <div class="small-6 grid-block vertical">
                <div class="card">
                    <div class="card-section">
                        <h2>@Model.SideName</h2>
                        <h4>@Model.PriceUSD.ToString("C2")</h4>
                        @{
                            var isAlreadyHaveThisCourse = ViewBag?.IsAlreadyHaveThisCourse ?? false;
                            if (isAlreadyHaveThisCourse)
                            {
                                <a asp-action="entercourse" asp-controller="my" asp-route-id="@Model.id" class="button expand large">Go to my course</a>
                            }
                            else if (User.Identity.IsAuthenticated)
                            {
                                <a class="button expand large" zf-open="purchaseModal">PURCHASE</a>
                            }
                            else
                            {
                                <a class="button primary large-centered" asp-controller="Account" asp-action="Login" asp-route-ReturnUrl="@Url.Action("detail", "home", new { @id = Model.id })">PURCHASE</a>
                            }
                        }
                    </div>
                </div>
                    @foreach (var item in Model.RelatedCourses)
                    {
                        <div class="card">
                            <div class="card-section">
                                <h2>@item.Name</h2>
                                <a asp-action="detail" asp-controller="home" asp-route-id="@item.CourseId" class="button expand">VIEW</a>
                            </div>
                        </div>
                    }
            </div>
        </div>
        <div class="small-7 grid-block align-center">
            <div class="small-10 grid-block vertical visible">
                <p class="detail-info">@Model.Series</p>
                <hr>
                <h1 class="detail-header">@Model.Title</h1>
                <p>
                    @Model.FullDescription
                </p>
                <h2 class="detail-header">@Model.TotalWeeks Week Courses <img class="float-right" src="@Model.DescriptionImageUrl"></h2>
                
                @foreach (var semester in Model.Semesters)
                {
                    var units = semester.Units.ToArray();
                    var currentSemesterIndex = Array.IndexOf(Model.Semesters.ToArray(), semester);
                    <h1 class="lesson-header">SEMESTER @semester.Name</h1>
                    <div class="card visible">
                        <div class="card-section">
                            <h1 class="success label titlePosition">INTRO</h1>
                            <h2>@semester.Title</h2>
                            <p class="text-success">@semester.TotalWeeks Weeks</p>
                            <hr />
                            <p>
                                @semester.Description
                            </p>
                            <a ng-click="INTROClose[@currentSemesterIndex] = !INTROClose[@currentSemesterIndex]">
                                <img ng-hide="INTROClose[@currentSemesterIndex]" zf-iconic="" icon="chevron" data-direction="right" size="small" class="iconic-color-success">
                                <img ng-show="INTROClose[@currentSemesterIndex]" zf-iconic="" icon="chevron" data-direction="bottom" size="small" class="iconic-color-success">
                                More detail
                            </a>
                            <div ng-show="INTROClose[@currentSemesterIndex]">
                                @foreach (var unit in semester.Units)
                                {
                                    foreach (var lesson in unit.Lessons)
                                    {
                                        <div class="card-section">
                                            <p>WEEK @lesson.Order</p>
                                            @foreach (var content in lesson.Contents)
                                            {
                                                if (content.IsPreviewable)
                                                {
                                                    <a href="@content.ContentUrl" target="_blank">
                                                        <div class="grid-block">
                                                            <div class="grid-content shrink large-2">
                                                                <img src="@content.ImageUrl">
                                                            </div>
                                                            <div class="grid-content large-10">
                                                                <p>
                                                                    @content.Description
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </a>
                                                }
                                                else
                                                {
                                                    <div class="grid-block">
                                                        <div class="grid-content text-center shrink large-2">
                                                            <img src="@content.ImageUrl">
                                                        </div>
                                                        <div class="grid-content large-10">
                                                            <p>
                                                                @content.Description
                                                            </p>
                                                        </div>
                                                    </div>
                                                }
                                                <br />
                                            }
                                        </div>
                                    }
                                }
                            </div>

                        </div>
                        <div class="success label menu-bar"></div>
                    </div>
                    @foreach (var unit in units)
                    {
                        var currentUnitIndex = Array.IndexOf(units, unit);
                        <div class="card visible">
                            <div class="card-section">
                                <h2 class="success label titlePosition">UNIT @unit.UnitNo</h2>
                                <h3>@unit.Title</h3>
                                <p class="week-info">@unit.TotalWeeks Weeks</p>
                                <hr />
                                <p>
                                    @unit.Description
                                </p>
                                <a ng-click="UNITClose[@currentUnitIndex] = !UNITClose[@currentUnitIndex]">
                                    <img ng-hide="UNITClose[@currentUnitIndex]" zf-iconic="" icon="chevron" data-direction="right" size="small" class="iconic-color-success">
                                    <img ng-show="UNITClose[@currentUnitIndex]" zf-iconic="" icon="chevron" data-direction="bottom" size="small" class="iconic-color-success">
                                    More detail
                                </a>
                                <div ng-show="UNITClose[@currentUnitIndex]">
                                    @foreach (var lesson in unit.Lessons)
                                    {
                                        <div class="card-section">
                                            <p>WEEK @lesson.Order</p>
                                            @foreach (var content in lesson.Contents)
                                            {
                                                <div class="grid-block">
                                                    <div class="grid-content text-center shrink large-2">
                                                        <img src="@content.ImageUrl">
                                                    </div>
                                                    <div class="grid-content large-10">
                                                        <p>
                                                            @content.Description
                                                        </p>
                                                    </div>
                                                </div>
                                                <br />
                                            }
                                        </div>
                                    }
                                </div>

                            </div>
                            <div class="success label menu-bar"></div>
                        </div>
                    }
                } 
            </div>
        </div>
    </div>
</div>

<div zf-modal="" id="purchaseModal">
    <a zf-close="" class="close-button">x</a>
    <h4 class="text-center">COMPLETE PAYMENT</h4>
    <div class="grid-block">
        <div class="medium-10 large-10 grid-container" ng-init="purchaseMethod = 'Paypal'">
            <input type="radio" ng-model="purchaseMethod" name="payment" value="Paypal" id="Paypal"><label for="Paypal">Pay with Paypal</label>
            <form asp-controller="Purchase" asp-action="UserCode" method="post" class="navbar-right">
                @Html.Hidden("grade", Model.Grade)
                @Html.Hidden("courseId", Model.id)
                <input type="radio" ng-model="purchaseMethod" name="payment" value="Code" id="Code"><label for="Code">Use Key Code</label>
                <input name="id" type="text" />
                <div class="text-center">
                    <button ng-show="purchaseMethod == 'Code'" type="submit" class="button large text-center">PURCHASE</button>
                    <a asp-controller="purchase" asp-action="index" asp-route-id="@Model.id" ng-show="purchaseMethod == 'Paypal'" class="button large text-center">GO</a>
                </div>
            </form>
        </div>
    </div>
</div>

@{ var mindsageUrl = ViewBag?.MindSageUrl ?? string.Empty; }
@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $(".owl-carousel").owlCarousel({
                autoPlay: true,
                slideSpeed: 300,
                jsonPath: '@mindsageUrl/api/course/@Model.id/ads',
                singleItem: true
            });
        });
    </script>
}