@model MindSageWeb.Repositories.Models.GetCourseDetailRespond

<div class="grid-block vertical">
    <img class="grid-block" src="@Model.ImageUrl">
    <br />
    <div class="grid-block">
        <div class="small-5 grid-block align-center">
            <div class="small-4 grid-block vertical">
                <div class="card">
                    <div class="card-section">
                        <h2>@Model.Name</h2>
                        <h4>@Model.Price.ToString("C2")</h4>
                        @{
                            var isAlreadyHaveThisCourse = (bool)ViewBag.IsAlreadyHaveThisCourse;
                            if (isAlreadyHaveThisCourse)
                            {
                                <a class="button expand large">Go to my course</a>
                            }
                            else if (User.Identity.IsAuthenticated)
                            {
                                <a class="button expand large">PURCHASE</a>
                            }
                            else
                            {
                                <a class="button primary large-centered" asp-controller="Account" asp-action="Login" asp-route-ReturnUrl="@Url.Action("Detail","Home",new { @id = Model.id })">PURCHASE</a>
                            }
                        }
                    </div>
                </div>
                @foreach (var item in Model.RelatedCourses)
                {
                    <div class="card-section">
                        <h2>@item.Name</h2>
                        <a class="button expand large">VIEW</a>
                    </div>
                }
            </div>
        </div>
        <div class="small-6 grid-block vertical">
            <div class="grid-block vertical">
                <p class="detail-info">Mind Sage Middle School Program: 5th Grade</p>
                <hr>
                <h1 class="detail-header">GUIDING THE NATURAL DESIRE TO BECOME INDEPENDENT THINKERS</h1>
                <p>
                    Middle school is a transitional period for students. They are no longer children, but entering phase were they in lift affords quite adults either. This wonderful period in life affords teachers the opportunity to build on the awareness of the Elementary MindSage course, developing and guiding the students as they natural begin to push for indepedents and control of their lives.
                </p>
                <h2 class="detail-header">11 Week Courses <img class="float-right" src="http://placehold.it/350x110"></h2>
                <h1 class="lesson-header">SEMESTER A</h1>
                <div class="card">
                    <div class="card-section">
                        <h1>INTRO</h1>
                        <h2>Intro To 7th Grade: The NextU</h2>
                        <p>8 Weeks</p>
                        <p>Student's today are very familiar with mobile technology and applications. Chances are they use an average of three different mobile applications each day. We use the analogy of software developement to help 7th graders understand that they now have the opportunity to conciously create who and whay they are. They can develop the qualities of features they want to develop, or work on `bugs` they would like to eliminate in the 7.0 version of the NextU.</p>
                        <zf-accordion auto-open="false" collapsible="true" multi-open="true">
                            <zf-accordion-item title="> More detail">
                                <p>
                                    Student's today are very familiar with mobile technology and applications. Chances are they use an average of three different mobile applications each day.
                                </p>
                            </zf-accordion-item>
                        </zf-accordion>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>