@model MindSageWeb.Repositories.Models.GetCourseDetailRespond
@{
    ViewData["Title"] = "Contact";
}

<div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
    <ul class="orbit-container">
        <button class="orbit-previous" aria-label="previous"><span class="show-for-sr">Previous Slide</span>&#9664;</button>
        <button class="orbit-next" aria-label="next"><span class="show-for-sr">Next Slide</span>&#9654;</button>
        <li class="orbit-slide is-active">
            <img src="@Model.ImageUrl">
        </li>
        <li class="orbit-slide">
            <img src="http://placehold.it/2000x750?text=2">
        </li>
        <li class="orbit-slide">
            <img src="http://placehold.it/2000x750?text=3">
        </li>
        <li class="orbit-slide">
            <img src="http://placehold.it/2000x750?text=4">
        </li>
    </ul>
</div>
<br />
<div class="row content-section">
    <div class="large-3 pull-9 columns">
        <div class="callout">
            <p>@Model.Name</p>
            <p>@Model.Price.ToString("C2")</p>
            @{
                var isAlreadyHaveThisCourse = (bool)ViewBag.IsAlreadyHaveThisCourse;
                if (isAlreadyHaveThisCourse)
                {
                    <a class="button primary large-centered">Already have it</a>
                }
                else if (User.Identity.IsAuthenticated)
                {
                    <a class="button primary large-centered" data-open="purchaseModal">PURCHASE</a>
                }
                else
                {
                    <a class="button primary large-centered" asp-controller="Account" asp-action="Login" asp-route-ReturnUrl="@Url.Action("Detail","Home",new { @id = Model.id })">PURCHASE</a>
                }
            }
        </div>
        @foreach (var item in Model.RelatedCourses)
        {
            <div class="purchase">
                <p>@item.Name</p>
                <a class="button primary large-centered" asp-action="Detail" asp-controller="Home" asp-route-id="@item.CourseId">View</a>
            </div>
        }
    </div>
    <div class="large-9 push-3 columns">
        <p class="detail-info">@Model.Name</p>
        <hr />
        <h1 class="detail-header">@Model.Title</h1>
        <p>
            @Model.Description
        </p>

        <div class="row">
            <div class="large-6 columns">
                <h2 class="detail-header">@Model.TotalWeeks Week Courses</h2>
            </div>
            <div class="large-6 columns">
                <img src="@Model.DescriptionImageUrl">
            </div>
        </div>
        @foreach (var semester in Model.Semesters)
        {
            <h1 class="lesson-header">@semester.Name</h1>

            <div class="lesson-bg callout">
                <div data-accordion data-allow-all-closed="true">
                    <div class="title">
                        <h2>INTRO</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="detail" data-accordion-item>
                        <h3>@semester.Title</h3>
                        <p class="week-info">@semester.TotalWeeks Weeks</p>
                        <p>
                            @semester.Description
                        </p>
                        <a>
                            <p> > More Details</p>
                        </a>
                        @foreach (var unit in semester.Units)
                        {
                            foreach (var lesson in unit.Lessons)
                            {
                                <div class="accordion-content" data-tab-content >
                                    <div>
                                        <p>WEEK @lesson.Order</p>
                                        @foreach (var content in lesson.Contents)
                                        {
                                            <div class="media-object">
                                                <div class="media-object-section">
                                                    <img src="@content.ImageUrl">
                                                </div>
                                                <div class="media-object-section">
                                                    <p>
                                                        @content.Description
                                                    </p>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>

            @foreach (var unit in semester.Units)
            {
                <div class="lesson-bg callout">
                    <div data-accordion data-allow-all-closed="true">
                        <div class="small-4 title">
                            <h2>UNIT @unit.UnitNo</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="detail" data-accordion-item>
                            <h3>@unit.Title</h3>
                            <p class="week-info">@unit.TotalWeeks Weeks</p>
                            <p>
                                @unit.Description
                            </p>
                            <a>
                                <p> > More Details</p>
                            </a>
                            @foreach (var lesson in unit.Lessons)
                            {
                                <div class="accordion-content" data-tab-content>
                                    <div>
                                        <p>WEEK @lesson.Order</p>
                                        @foreach (var content in lesson.Contents)
                                        {
                                            <div class="media-object">
                                                <div class="media-object-section">
                                                    <img src="@content.ImageUrl">
                                                </div>
                                                <div class="media-object-section">
                                                    <p>
                                                        @content.Description
                                                    </p>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>

<div class="partner">
    <div class="row column text-center content-section">
        <h1>PARTNER LOGO</h1>
    </div>

    <div class="row small-up-2 large-up-8">
        <div class="column">
            <img class="thumbnail" src="http://placehold.it/100x100">
        </div>
        <div class="column">
            <img class="thumbnail" src="http://placehold.it/100x100">
        </div>
        <div class="column">
            <img class="thumbnail" src="http://placehold.it/100x100">
        </div>
        <div class="column">
            <img class="thumbnail" src="http://placehold.it/100x100">
        </div>
        <div class="column">
            <img class="thumbnail" src="http://placehold.it/100x100">
        </div>
        <div class="column">
            <img class="thumbnail" src="http://placehold.it/100x100">
        </div>
        <div class="column">
            <img class="thumbnail" src="http://placehold.it/100x100">
        </div>
        <div class="column">
            <img class="thumbnail" src="http://placehold.it/100x100">
        </div>
        <div class="column">
            <img class="thumbnail" src="http://placehold.it/100x100">
        </div>
        <div class="column">
            <img class="thumbnail" src="http://placehold.it/100x100">
        </div>
        <div class="column">
            <img class="thumbnail" src="http://placehold.it/100x100">
        </div>
        <div class="column">
            <img class="thumbnail" src="http://placehold.it/100x100">
        </div>
    </div>
</div>

<div class="reveal tiny" id="purchaseModal" data-reveal>
    <div class="modal-head"><h4 class="text-center">COMPLETE PAYMENT</h4></div>
    <div class="row">
        <div class="medium-10 medium-centered large-10 large-centered columns">
            <input type="radio" name="payment" value="Paypal" id="Paypal" checked="checked" required><label for="Paypal">Pay with Paypal</label>
            <form asp-controller="Purchase" asp-action="UserCode" method="post" class="navbar-right">
                @Html.Hidden("grade", Model.Grade)
                @Html.Hidden("courseId", Model.id)
                <input type="radio" name="payment" value="Code" id="Code"><label for="Code">Use Key Code</label>
                <input name="id" type="text" />
                <div class="text-center">
                    <button type="submit" class="button large text-center">PURCHASE</button>
                </div>
            </form>
        </div>
    </div>
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>