@model MindSageWeb.Repositories.Models.GetCourseDetailRespond
@{
    ViewData["Title"] = "Contact";
}

<div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
    <ul class="orbit-container">
        <button class="orbit-previous" aria-label="previous"><span class="show-for-sr">Previous Slide</span>&#9664;</button>
        <button class="orbit-next" aria-label="next"><span class="show-for-sr">Next Slide</span>&#9654;</button>
        <li class="orbit-slide is-active">
            <img src="http://placehold.it/2000x750?text=1">
        </li>
        <li class="orbit-slide">
            <img src="http://placehold.it/2000x750?text=2">
        </li>
        <li class="orbit-slide">
            <img src="http://placehold.it/2000x750?text=3">
        </li>
        <li class="orbit-slide">
            <img src="http://placehold.it/2000x750?text=4">
        </li>
    </ul>
</div>

<div class="row content-section">
    <div class="large-2 pull-10 columns purchase">
        <p>@Model.Name</p>
        <p>@Model.Price.ToString("C2")</p>
        <a class="button primary large-centered" href="#">PURCHASE</a>
    </div>

    <div class="large-9 push-3 columns">
        <p class="detail-info">@Model.Name</p>
        <h1 class="detail-header">@Model.Title</h1>
        <p>
            @Model.Description
        </p>

        <div class="row">
            <div class="large-6 columns">
                <h2 class="detail-header">@Model.TotalWeeks Week Courses</h2>
            </div>
            <div class="large-6 columns">
                <img class="thumbnail" src="@Model.DescriptionImageUrl">
            </div>
        </div>
        @foreach (var semester in Model.Semesters)
        {
            <h1 class="lesson-header">@semester.Name</h1>

            <div class="lesson-bg accordion">
                <div class="row" data-accordion data-allow-all-closed="true">
                    <div class="title">
                        <h2>INTRO</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="detail" data-accordion-item>
                        <h3>@semester.Title</h3>
                        <p class="week-info">@semester.TotalWeeks Weeks</p>
                        <p>
                            @semester.Description
                        </p>
                        <a>
                            <p> > More Details</p>
                        </a>
                        @foreach (var unit in semester.Units)
                        {
                            foreach (var lesson in unit.Lessons)
                            {
                                <div class="undisplay" data-tab-content>
                                    <div>
                                        <p>WEEK @lesson.Order</p>
                                        @foreach (var content in lesson.Contents)
                                        {
                                            <div class="media-object">
                                                <div class="media-object-section">
                                                    <img src="@content.ImageUrl">
                                                </div>
                                                <div class="media-object-section">
                                                    <p>
                                                        @content.Description
                                                    </p>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>

            @foreach (var unit in semester.Units)
            {
                <div class="lesson-bg accordion">
                    <div class="row" data-accordion data-allow-all-closed="true">
                        <div class="small-4 title">
                            <h2>UNIT @unit.UnitNo</h2>
                           <div class="clearfix"></div>
                        </div>
                        <div class="detail" data-accordion-item>
                            <h3>@unit.Title</h3>
                            <p class="week-info">@unit.TotalWeeks Weeks</p>
                            <p>
                                @unit.Description
                            </p>
                            <a>
                                <p> > More Details</p>
                            </a>
                            @foreach (var lesson in unit.Lessons)
                            {
                                <div class="undisplay" data-tab-content>
                                    <div>
                                        <p>WEEK @lesson.Order</p>
                                        @foreach (var content in lesson.Contents)
                                        {
                                            <div class="media-object">
                                                <div class="media-object-section">
                                                    <img src="@content.ImageUrl">
                                                </div>
                                                <div class="media-object-section">
                                                    <p>
                                                        @content.Description
                                                    </p>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>

<div class="partner">
    <div class="row column text-center content-section">
        <h1>PARTNER LOGO</h1>
    </div>

    <div class="row small-up-2 large-up-8">
        <div class="column">
            <img class="thumbnail" src="http://placehold.it/100x100">
        </div>
        <div class="column">
            <img class="thumbnail" src="http://placehold.it/100x100">
        </div>
        <div class="column">
            <img class="thumbnail" src="http://placehold.it/100x100">
        </div>
        <div class="column">
            <img class="thumbnail" src="http://placehold.it/100x100">
        </div>
        <div class="column">
            <img class="thumbnail" src="http://placehold.it/100x100">
        </div>
        <div class="column">
            <img class="thumbnail" src="http://placehold.it/100x100">
        </div>
        <div class="column">
            <img class="thumbnail" src="http://placehold.it/100x100">
        </div>
        <div class="column">
            <img class="thumbnail" src="http://placehold.it/100x100">
        </div>
        <div class="column">
            <img class="thumbnail" src="http://placehold.it/100x100">
        </div>
        <div class="column">
            <img class="thumbnail" src="http://placehold.it/100x100">
        </div>
        <div class="column">
            <img class="thumbnail" src="http://placehold.it/100x100">
        </div>
        <div class="column">
            <img class="thumbnail" src="http://placehold.it/100x100">
        </div>
    </div>
</div>
