@model IEnumerable<WebManagementPortal.EF.AssessmentItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IconURL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsPreviewable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecLog)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PreLesson.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostLesson.Title)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IconURL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsPreviewable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecLog)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PreLesson.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostLesson.Title)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
