@model WebManagementPortal.EF.Contract

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Contract</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.SchoolName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SchoolName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ZipCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrimaryContractName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PrimaryContractName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrimaryPhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PrimaryPhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrimaryEmail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PrimaryEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecondaryContractName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SecondaryContractName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecondaryPhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SecondaryPhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecondaryEmail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SecondaryEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpiredDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ExpiredDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeZone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TimeZone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecLog.CreatedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RecLog.CreatedDate)
        </dd>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

        <dt>
            <br>
            @Html.ActionLink("Back", "Details", new { @id = Model.Id }, new { @class = "btn btn-default" })
        </dt>
        <dd>
            <br>
            <input type="submit" value="Delete" class="btn btn-danger" />
        </dd>
        }
    </dl>
</div>
