@model WebManagementPortal.EF.CourseCatalog

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CourseCatalog</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GroupName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GroupName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Grade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Advertisements)
        </dt>

        @if (!(bool)Model?.Advertisements.Any())
        {
            <dd></dd>
        }
        else
        {
            foreach (var item in Model.Advertisements?.Split(new[] { "#;" }, StringSplitOptions.RemoveEmptyEntries))
            {
                <dd>
                    @item
                </dd>
            }
        }

        <dt>
            @Html.DisplayNameFor(model => model.SideName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SideName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriceUSD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriceUSD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Series)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Series)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescriptionImageUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescriptionImageUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecLog.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecLog.CreatedDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back", "Details", "CourseCatalogs", new { @id = Model.Id }, null)
        </div>
    }
</div>
