@model WebManagementPortal.EF.CourseCatalog

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CourseCatalog</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GroupName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GroupName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Grade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Advertisements)
        </dt>

        @if (!(bool)Model?.Advertisements.Any())
        {
            <dd></dd>
        }
        else
        {
            foreach (var item in Model.Advertisements?.Split(new [] { "#;" }, StringSplitOptions.RemoveEmptyEntries))
            {
                <dd>
                    @item
                </dd>
            }
        }

        <dt>
            @Html.DisplayNameFor(model => model.SideName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SideName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriceUSD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriceUSD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Series)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Series)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescriptionImageUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescriptionImageUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecLog.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecLog.CreatedDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-default" })
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-warning" })
    @Html.ActionLink("Delete", "Delete", new { id = Model.Id }, new { @class = "btn btn-danger" })
    <a href="http://localhost:2528/home/preview/@Model.Id" target="_blank" class="btn btn-success btn-lg pull-right">Preview</a>
</p>

<hr />


<div class="panel panel-default">
    <div class="panel-heading">
        <h2>Semesters</h2>
    </div>
    <div class="panel-body">
        <p>
            @Html.ActionLink("Create new semester", "Create", "Semesters", new { @id = Model.Id }, null)
        </p>
    </div>
    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th>
                Title
            </th>
            <th>
                Description
            </th>
            <th></th>
        </tr>

        @{
            var semesterNameRunner = (byte)65;
            var unitRunner = 1;
            var lessonRunner = 1;
        }
        @foreach (var semester in Model.Semesters.Where(it => !it.RecLog.DeletedDate.HasValue))
        {
            <tr>
                <td>
                    @string.Format("{0}", (char)semesterNameRunner++)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => semester.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => semester.Description)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Semesters", new { id = semester.Id, courseCatalogId = Model.Id }, new { @class = "btn btn-default" })
                    @Html.ActionLink("Delete", "Delete", "Semesters", new { id = semester.Id }, new { @class = "btn btn-danger" })
                </td>
            </tr>
            <tr>
                <td></td>
                <td colspan="3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3>Units</h3>
                        </div>
                        <div class="panel-body">
                            <p>
                                @Html.ActionLink("Create new unit", "Create", "Units", new { @id = semester.Id }, null)
                            </p>
                        </div>

                        <table class="table">
                            <tr>
                                <th>Unit No</th>
                                <th>
                                    Title
                                </th>
                                <th>
                                    Description
                                </th>
                                <th></th>
                            </tr>

                            @foreach (var unit in semester.Units.Where(it => !it.RecLog.DeletedDate.HasValue))
                            {
                                <tr>
                                    <td>
                                        @unitRunner
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => unit.Title)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => unit.Description)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", "Units", new { id = unit.Id, semesterId = semester.Id }, new { @class = "btn btn-default" })
                                        @Html.ActionLink("Delete", "Delete", "Units", new { id = unit.Id, semesterId = semester.Id }, new { @class = "btn btn-danger" })
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td colspan="3">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h3>Lesson</h3>
                                            </div>
                                            <div class="panel-body">
                                                <p>
                                                    @Html.ActionLink("Create new lesson", "Create", "Lessons", new { @id = unit.Id }, null)
                                                </p>
                                            </div>

                                            <table class="table">
                                                <tr>
                                                    <th>
                                                        Lesson No
                                                    </th>
                                                    <th>
                                                        Title
                                                    </th>
                                                    <th>
                                                        Description
                                                    </th>
                                                    <th></th>
                                                </tr>

                                                @foreach (var lesson in unit.Lessons.Where(it => !it.RecLog.DeletedDate.HasValue))
                                                {
                                                    <tr>
                                                        <td>
                                                            @lessonRunner
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => lesson.Title)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => lesson.ShortDescription)
                                                        </td>
                                                        <td>
                                                            @Html.ActionLink("View", "Details", "Lessons", new { id = lesson.Id }, new { @class = "btn btn-primary" })
                                                            <a href="#" class="btn btn-success">Preview</a>
                                                        </td>
                                                    </tr>
                                                    lessonRunner++;
                                                }

                                            </table>
                                        </div>
                                    </td>
                                </tr>
                                unitRunner++;
                            }

                        </table>
                    </div>
                </td>
            </tr>
        }

    </table>
</div>
