@model IEnumerable<WebManagementPortal.EF.CourseCatalog>

@{
    ViewBag.Title = "Index";
}

<h2>Course catalogs</h2>

<p>
    @Html.ActionLink("Create new course", "Create", null, new { @class = "btn btn-primary" })
</p>
<p>
    @Html.ActionLink("Update all courses", "UpdateAllCourses", null, new { @class = "btn btn-default" })
</p>
<table class="table">
    <tr class="row">
        <th class="col-md-2">
            @Html.DisplayNameFor(model => model.GroupName)
        </th>
        <th class="col-md-1">
            @Html.DisplayNameFor(model => model.Grade)
        </th>
        <th class="col-md-1">
            @Html.DisplayNameFor(model => model.Series)
        </th>
        <th class="col-md-2">
            @Html.DisplayNameFor(model => model.SideName)
        </th>
        <th class="col-md-2">
            @Html.DisplayNameFor(model => model.PriceUSD)
        </th>
        <th>
            URL
        </th>
        <th class="col-md-2">
            @Html.DisplayNameFor(model => model.RecLog.CreatedDate)
        </th>
        <th class="col-md-2"></th>
    </tr>

@foreach (var item in Model) {
    var courseUrl = string.Format("{0}/home/detail/{1}", AppConfigOptions.MindSageWebUrl, item.Id);
    <tr class="row">
        <td class="col-md-2">
            @Html.DisplayFor(modelItem => item.GroupName)
        </td>
        <td class="col-md-1">
            @Html.DisplayFor(modelItem => item.Grade)
        </td>
        <td class="col-md-1">
            @Html.DisplayFor(modelItem => item.Series)
        </td>
        <td class="col-md-2">
            @Html.DisplayFor(modelItem => item.SideName)
        </td>
        <td class="col-md-2">
            @item.PriceUSD.ToString("C2")
        </td>
        <td class="col-md-1">
            @courseUrl
        </td>
        <td class="col-md-1">
            @Html.DisplayFor(modelItem => item.RecLog.CreatedDate)
        </td>
        <td class="col-md-2">
            @Html.ActionLink("Manage", "Details", new { id=item.Id }, new { @class = "btn btn-warning" })
            <a class="btn btn-success" href="@AppConfigOptions.MindSageWebUrl/home/preview/@item.Id" target="_blank">Preview</a>
        </td>
    </tr>
}

</table>
