@model IEnumerable<WebManagementPortal.EF.CourseCatalog>

@{
    ViewBag.Title = "Index";
}

<h2>Course catalogs</h2>

<p>
    @Html.ActionLink("Create new course", "Create")
</p>

@Html.ActionLink("Update all courses", "UpdateAllCourses", null,new { @class = "btn btn-default"  })

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GroupName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Grade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Series)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SideName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PriceUSD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecLog.CreatedDate)
        </th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GroupName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Grade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Series)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SideName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PriceUSD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecLog.CreatedDate)
        </td>
        <td>
            @Html.ActionLink("View", "Details", new { id=item.Id })
        </td>
        <td>
            <a href="@AppConfigOptions.MindSageWebUrl/home/preview/@item.Id" target="_blank">Preview</a>
        </td>
    </tr>
}

</table>
