@using System.Collections.Generic
@using Microsoft.AspNet.Http
@using Microsoft.AspNet.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Log in";
}

<div class="row content-section">
    <div class="medium-6 medium-centered large-4 large-centered columns">
        <section>
            <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form" data-abide novalidate>
                <div class="row column log-in-form">
                    <h4>LOG IN</h4>
                    <div asp-validation-summary="ValidationSummary.All" data-abide-error class="alert callout" style="display: none;"></div>
                    <label asp-for="Email">
                        Email
                        <input asp-for="Email" required pattern="email"/>
                        <span asp-validation-for="Email" class="form-error"></span>
                    </label>
                    <label asp-for="Password">
                        Password
                        <input asp-for="Password" required pattern="password"/>
                        <span asp-validation-for="Password" class="form-error"></span>
                    </label>
                    <input asp-for="RememberMe" />
                    <label asp-for="RememberMe"></label>
                    <div><button type="submit" class="button expanded">Log in</button></div>
                </div>
            </form>
        </section>
        <section>
            @{
                var loginProviders = SignInManager.GetExternalAuthenticationSchemes().ToList();
                if (loginProviders.Count == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="http://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
                        <div>
                            <p>
                                @foreach (var provider in loginProviders)
                                {
                                    <button type="submit" class="alert button expanded" name="provider" value="@provider.AuthenticationScheme" title="Log in using your @provider.DisplayName account">@provider.AuthenticationScheme</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
        <p class="text-center">
            <a asp-action="Register">Register as a new user</a>
        </p>
        <p class="text-center">
            <a asp-action="ForgotPassword">Forgot your password</a>
        </p>
    </div>
    <div class="row">
        <div class="medium-6 medium-centered large-4 large-centered columns">
            
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
